<div class="container" ng-controller="loginCtrl">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Sign In As Student</div>

            </div>

            <div style="padding-top:30px" class="panel-body" >

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" class="form-control" name="username" ng-model="std.name" placeholder="username or email">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="password" ng-model="std.password" placeholder="password">
                    </div>
                    <div style="margin-top:10px" class="form-group">
                       <div class="col-sm-12 controls">
                            <a id="btn-login" class="btn btn-success" ng-disabled="!std.name || !std.password" ng-click="login(std)">Login as Student</a>
                           <!-- <a id="btn-fblogin" href="#" class="btn btn-primary" >Login with Facebook</a>-->
                        </div>
                    </div>



                </form>
            </div>
        </div>
        <div class="panel panel-danger" >
            <div class="panel-heading">
                <div class="panel-title">Sign In As Admin</div>

            </div>

            <div style="padding-top:30px" class="panel-body" >

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" class="form-control" name="username" ng-model="admin.name" placeholder="username or email">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="password" ng-model="admin.password" placeholder="password">
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <a id="btn-login" class="btn btn-success" ng-disabled="!admin.name || !admin.password" ng-click="adminLogin(admin)">Login  as admin </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
